.back-groud{
    background-image: url(../assets/images/backgroud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.w-100 {
    width: 100%!important;
    height: 70vh;
}